*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f4f4f4;
    color:#222;
}

header{
    background:#1f2937;
    color:white;
    text-align:center;
    padding:25px;
}

nav{
    margin-top:15px;
}

nav button{
    background:#3b82f6;
    color:white;
    border:none;
    padding:12px 20px;
    margin:5px;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
}

nav button:hover{
    transform:scale(1.05);
}

main{
    max-width:1000px;
    margin:auto;
    padding:30px;
}

.tab{
    display:none;
    animation:fadeIn .5s;
}

.active{
    display:block;
}

.profile{
    width:220px;
    border-radius:50%;
    display:block;
    margin:20px auto;
}

.bar{
    width:100%;
    height:25px;
    background:#ddd;
    border-radius:20px;
    overflow:hidden;
    margin-bottom:15px;
}

.fill{
    height:100%;
}

.html-fill{
    width:90%;
    background:#f97316;
}

.js-fill{
    width:85%;
    background:#eab308;
}

.card{
    background:white;
    padding:20px;
    border-radius:12px;
    margin-top:20px;
    box-shadow:0 4px 10px rgba(0,0,0,.1);
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card img{
    width:100%;
    max-width:500px;
    border-radius:10px;
}

h2{
    margin-bottom:15px;
}

p{
    margin-bottom:15px;
    line-height:1.6;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(20px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}

@media(max-width:768px){

    nav button{
        display:block;
        width:90%;
        margin:10px auto;
    }

    .profile{
        width:150px;
    }

}

